<%- include("header") -%>
<a href="/"><h1 class="h1main">dfc Bank</h1></a>
<h2 align="center"class="loghead">Log In</h2>
<form class="existingform" action="/existing" method="post">
  <input class="logun"type="text" autocomplete="off" name="logusern" placeholder="Enter Username">
  <input class="logpw"type="text" name="logpw" autocomplete="off" placeholder="Enter Password">
  <button class="logsubmit"type="submit" name="button">LOGIN</button>
</form>
<%- include("footer") -%>
