<%- include("header") -%>
  <a href="/"><h1 class="h1main">dfc Bank</h1></a>

  <div class="content">
    <h1 class="contenth1">Welcome To dfc Bank</h1>
    <div class="contentc1">
      <h2 class="m"align="center">Create Account</h2>
      <a href="/create"><button class="homecreate" type="submit" name="button">Create</button></a>
    </div>
    <div>
      <h2 class="m"align="center">Login to Existing Account</h2>
      <a href="/existing"><button class="homeexisting"type="submit" name="button">Existing</button></a>
    </div>
  </div>
<%- include("footer") -%>
