<%- include("header") -%>
<a href="/"><h1 class="h1main">dfc Bank</h1></a>
<div class="successpage">
  <h1 class="h1main">Transaction was Succesfull !!!</h1>
  <a href="/passbook"><button class="successpass"type="submit" name="checkpassbook">Check Passbook</button></a>


</div>


<%- include("footer") -%>
